@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.sidebar {
  @apply bg-gray-50 text-base-content w-64;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: 1px;
  height: 902px;
}
.sidebar ul {
  @apply p-4 space-y-4;
}
.sidebar li {
  @apply rounded-md px-2 py-1 text-gray-700 hover:text-indigo-600 hover:bg-gray-200;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.navbar .nav {
  display: flex;
  justify-content: space-between;
}
.navbar .nav-item {
  margin-right: 1rem;
}
.navbar .nav-link {
  color: #333333;
  font-weight: 600;
}
.navbar .nav-link:hover {
  color: #000000;
}
